.card-planet {
  height: 290px;
  width: 200px;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameSpaceObject {
  display: block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 3%;
  background-color: transparent;
}

.planet-image-size {
  max-width: 90%;
  max-height: 90%;
}

.fieldOutDataWeight {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 20px;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(6, 246, 246, 0.3);
  backdrop-filter: blur(10px);
}

@media (max-width: 426px) {
  .card-planet {
    height: 300px;
    width: 162px;
  }
}

@media (max-width: 400px) {
  .planet-image-size {
    max-width: 70%;
    max-height: 70%;
  }

  .card-planet {
    height: 195px;
    width: 162px;
  }
}

@media (max-width: 360px) {
  .planet-image-size {
    max-width: 50%;
    max-height: 50%;
  }
}
