.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}

.earth-input-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 480px;
}

.earth-img {
  height: 110px;
  width: 110px;
}

.itemInputWeight {
  max-width: 410px;
}

.customInput {
  max-height: 40px;
}

.custom-btn {
  max-height: 40px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.custom-btn p {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.planets-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: auto;
  padding: 2%;
  margin-top: 1em;
  background-color: transparent;
}

/* Для экранов шириной менее 1200px */
@media (max-width: 1200px) {
  .planets-box {
    grid-template-columns: repeat(4, 1fr);
    height: auto;
  }
}

@media (max-width: 900px) {
  .planets-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .planets-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .earth-input-item {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .earth-input-item {
    width: 350px;
    flex-direction: column;
  }
  .root {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .earth-img {
    height: 110px;
    width: 110px;
  }
}
