.custom-footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.txt-footer {
  color: aliceblue;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
