.navbar-container {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(90deg, rgb(58, 31, 130), rgb(68, 84, 139));
  top: 0;
  left: 0;
  z-index: 20;
}

.navbar-content {
  max-width: 1320px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-text {
  color: white;
}

.logo-comapny-item {
  background-color: rgb(201, 237, 237);
}

.name-website {
  color: aquamarine;
  font-size: x-large;
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  margin-top: 10px;
}

.name-company {
  font-size: 24px;
  color: white;
}

.vertical-separator {
  height: 10px;
}

.horizontal-separator {
  width: 10px;
}

.item-button {
  display: flex;
  align-items: center;
}

.hidden-toggle {
  display: none;
}

@media (max-width: 1000px) {
  .name-company {
    display: none;
  }
  .navbar-content {
    justify-content: center;
  }
}

@media (max-width: 1399px) {
  .navbar-content {
    max-width: 1140px;
  }
}

@media (max-width: 1198px) {
  .navbar-content {
    max-width: 960px;
  }
}

@media (min-width: 416px) and (max-width: 991px) {
  .navbar-content {
    max-width: 720px;
  }
}

@media (min-width: 416px) and (max-width: 766px) {
  .navbar-content {
    max-width: 540px;
  }
}

@media (max-width: 420px) {
  .name-website {
    font-size: medium;
  }
}
