* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: rgb(255, 255, 255);
  --green-color: rgb(12, 231, 209);
}

.textColor {
  color: var(--text-color);
}

/* Фоновое изображение при isLeft === true */
.background-space {
  margin: 0;
  background: url("/public/space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Фоновое изображение при isLeft === false */
.background-soyuz {
  margin: 0;
  background: url("/public/soyuz_m-21.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
